# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
*.[oa]
*~
*.pyc
*Makefile
*Makefile.in
aclocal.m4
autom4te.cache/
*.deps
*.log
conf*.dir/
config.status
configure
TAGS
*.swp

# directories generated during program execution
*REPOSITORY
*LOGS
*EEcertificates
