# This file allows the user to specify RPKI Repository Publication Points from
# which the software should download, beyond those specified using Trust Anchor
# Locator files, or by manually inserting trust anchors into the database.
#
# To add a uri, put it on its own line, prefixed by "DIR=".  Examples:
# DIR=rsync://example.com/path/to/dir
# DIR=rsync://example.com/path/to/file

