  Configuration file for RPSTIR.

  Lines starting with '#' are comments.
# Lines without '=' are comments.
# Simple settings are of the form:  key=value
  A array can be created by repeating a key, eg:
#   key=value1
#   key=value2

# The value is everything between the first '=' and the '\n'.
  A value can contain only characters in the ascii hex range [20-7e].
  Values are limited to 63 characters in length.
  Case is preserved in values, except in true/false values:
#     true  := { t[.]*  |  y[.]*  |  1 }
#     false := { f[.]*  |  n[.]*  |  0 }

################################################################################
#    GLOBAL
# ------------------------------------------------------------------------------
# The rpstir_root_directory is read from an environment variable.

################################################################################
#    IPC
# ------------------------------------------------------------------------------
# was RPKI_PORT
port_loader_feeder =31416
# was RPKI_LISTPORT
port_parallel_rsync_coordinator =31415

################################################################################
#    MySQL DATABASE
# ------------------------------------------------------------------------------
mysql_dsn           =myodbc
mysql_db_name       =rpkidb7
mysql_user_name     =db_user
mysql_user_password =validator
mysql_root_password =validator

################################################################################
#    PARALLEL RSYNC
# ------------------------------------------------------------------------------
parallel_rsync_max_thread_count=4
rpstir_logfile..........=/home/aweber/rpki/rpstir.log

################################################################################
#    STRICTNESS LEVEL
# ------------------------------------------------------------------------------
# The spec says this is an error.
# Setting this option to true causes it to be treated as a warning.
warn_if_commonName_is_not_printableString=true

################################################################################
#    TEST ENTRIES
# ------------------------------------------------------------------------------
empty_key =
interrupte'd_key =asdf
';:`~!@#$%^&*() -+={}\|,<.>/?late_key =seven
a_boolean_key =y
b_boolean_key=0

