root/
root.cer
badRootBadAIA.cer
badRootBadAKI.cer
badRootBadCRLDP.cer
badRootBadSig.cer
badRootNameDiff.cer
badRootResourcesASInherit.cer
badRootResourcesEmpty.cer
badRootResourcesIP4Inherit.cer
badRootResourcesIP6Inherit.cer
goodRootAKIMatches.cer
goodRootAKIOmitted.cer
